body::before {
  display: block;
  content: "";
  height: 60px;
}

html {
  scroll-padding-top: 70px;
}

.sodv1101 {
  content: "SODV1101 Programming Fundamentals";
}
.sodv1101:hover {
  display: none;
}
.sodv1101:hover .sodv1101:after {
  content: "C++, Types, Conditionals, Loops, Arrays, Sorting, Pointers";
}
